@import "../../global.scss";

.topBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $darkBackground;    
    width: 100%;
    height: 100%;
    .left{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        .leftLogo{
            img{
                width: 50px;
            }
            margin: 10px 10px 10px 10px;
        }
        .rightLogo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 0px 0px 0px;

            h1{
                font-family: 'M PLUS 1';
                font-size: 10px;
                color: white;
            }
            h2{
                font-family: 'M PLUS 1';
                font-size: 10px;
                font-weight: lighter;
                color: white;
            }
        }
    }
    .middle{
        flex: 5;
        .middleButtons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            a{
                text-decoration: none;
                color: white;
                font-size: 22px;
                font-family: 'M PLUS 1';
            }
            .logOut{
                height: 50px;
                width: 175px;
                font-size: 20px;
            }
        }
        .middleText{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            h1{
                color: white;
            }
        }
    }
    .right{
        flex: 1;
        .icons{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 10px;
            .chat{
                color: white;
            }
            .backpack{
                margin-left: auto;
                color: white;
            }
        }
    }
}