.petrPouch{
    padding-top: 25px;
    width: 100%;
    height: 100%;
    
    .searchBar{
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
    }
    .imgGrid{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        img{
            width: 50%;
        }
    }
}