$darkBackground: #1d1760;
$darkBackgroundTwo: #bdbdbd;
$borderColor: #50a0fd;
$lightBackgroundOne: #ededed;
$lightBackgroundTwo: #d3e7ff;
$lightBackgroundThree: #f8fbff;
$lightBackgroundFour: #f2eded;
$lightBackgroundFive: #d0b696;
$textColor: #80a4d9;
$lightColorOne: #a4816e;